body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.title {
    background-color: #f7a8c4;
    padding: 15px;
    width: 60%;
    margin: 40px auto;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    background: linear-gradient( #1e1e2f, #2a2a40);
    color: white;
    width: 250px;
    padding: 20px;
    border-radius: 15px;
}

ul {
    list-style: none;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid rgba(255,255,255,0.6);
    border-radius: 10px;
    text-align: left;
}

li {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

/* Icon styling */
.material-icons {
    font-size: 20px;
    margin-right: 8px;
}

.check {
    color: #a855f7;   /* Purple */
}

.close {
    color: gray;
}
